@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&family=Staatliches&display=swap');
* {
    background: grey;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nova Flat', cursive;
}
h1, h2, h3, p, a{
  background: transparent;
  color: #ffffff;
}
body{
    display: flex;
    flex-wrap: wrap;
}
header{
    height: 45px;
    width: 100%;
    background-color: #4d2c26;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header h1{
    width: auto;
    height: 100%;
}
header button{
    border-style: none;
    background-color: transparent;
    width: auto;
    height: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
header button:hover{
    background: rgba(255,255,255,0.3);
}
main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.game{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-style: none;
}
.board{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 650px;
    border-radius: 10px;
    background-color: #b1895e;
    margin: 25px 0 25px 0;
    box-shadow: 5px 5px 20px 1px #000;
}
.clue{
    margin: 30px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    height: 500px;
    width: 60px;
    background-color: #a3733f;
    border: solid 3px #865c2f;
    box-shadow: 0px 0px 5px 2px #4f2f0c;
}
.clue1, .clue2, .clue3, .clue4, .clue5, .clue6, .clue7, .clue8 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    margin: 6px 0;
    border-radius: 5px;
    background-color: #b1895e;
}
#point1-1{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point1-2{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point1-3{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point1-4{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point2-1{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point2-2{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point2-3{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point2-4{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point3-1{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point3-2{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point3-3{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point3-4{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point4-1{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point4-2{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point4-3{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point4-4{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point5-1{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point5-2{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point5-3{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point5-4{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point6-1{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point6-2{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point6-3{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point6-4{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point7-1{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point7-2{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point7-3{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point7-4{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point8-1{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point8-2{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point8-3{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#point8-4{
    width: 14.5px;
    height: 14.5px;
    border-radius: 150px;
    margin: 2.5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
.lines{
    width: 230px;
    height: 500px;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #a3733f;
    border: solid 3px #865c2f;
    box-shadow: 0px 0px 5px 2px #4f2f0c;

}
.line1, .line2, .line3, .line4, .line5, .line6, .line7, .line8{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 210px;
    height: 47px;
    margin: 6px 0;
    border-radius: 5px;
    background-color: #b1895e;
}
#space1-1, #space1-2, #space1-3, #space1-4, #space2-1, #space2-2, #space2-3, #space2-4, #space3-1, #space3-2, #space3-3, #space3-4, #space4-1, #space4-2, #space4-3, #space4-4, #space5-1, #space5-2, #space5-3, #space5-4, #space6-1, #space6-2, #space6-3, #space6-4,#space7-1, #space7-2, #space7-3, #space7-4, #space8-1, #space8-2, #space8-3, #space8-4{
    width: 37px;
    height: 37px;
    border-radius: 150px;
    margin: 0 5px;
    background-color: #755129;
    border: solid 2px #a3733f;
}
#balls{
    width: 60px;
    height: 380px;
    margin: 30px 0 30px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #865c2f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#ball1{
    width: 33px;
    height: 33px;
    border-radius: 150px;
    background-color: darkred;
    margin: 5px 0;
}
#ball2{
    width: 33px;
    height: 33px;
    border-radius: 150px;
    background-color: royalblue;
    margin: 5px 0;
}
#ball3{
    width: 33px;
    height: 33px;
    border-radius: 150px;
    background-color: orangered;
    margin: 5px 0;
}
#ball4{
    width: 33px;
    height: 33px;
    border-radius: 150px;
    background-color: yellowgreen;
    margin: 5px 0;
}
#ball5{
    width: 33px;
    height: 33px;
    border-radius: 150px;
    background-color: rgb(255, 255, 254);
    margin: 5px 0;
}
#ball6{
    width: 33px;
    height: 33px;
    border-radius: 150px;
    background-color: black;
    margin: 5px 0;
}
#ball7{
    width: 33px;
    height: 33px;
    border-radius: 150px;
    background-color: darkslateblue;
    margin: 5px 0;
}
#ball8{
    width: 33px;
    height: 33px;
    border-radius: 150px;
    background-color: springgreen;
    margin: 5px 0;
}
#secret{
    width: 230px;
    height: 70px;
    margin: 20px 0 0 90px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #4d2c26;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#victory1, #victory2, #victory3, #victory4{
    width: 37px;
    height: 37px;
    border-radius: 150px;
    background-color: #4d2c26;
    margin: 0 5px;
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-style: none;
    background-color: #f1e8dc;
}
.info h1, h2, p{
    color: #000000;
    margin: 10px 20px;
    text-align: center;
}
.info p{
  text-align: left;
}
.board button{
    position: absolute;
    width: 55px;
    height: 100px;
    margin: 420px 0 0 340px;
    background-color: #f1e8dc;
    font-weight: bold;
}
footer{
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #4d2c26;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
}
footer p{
    text-align: center;
    color: #ffffff;
    margin: 0;
}
footer h3{
    text-align: center;
    color: #ffffff;
    margin-bottom: 5px;
}

@media (max-width:1024px){
  .game{
    width: 100%;
    height: auto;
  }
  .info{
    width: 100%;
    height: auto;
  }
}
